.navBar{
  background-color: #03045e;
  overflow: hidden;
  width: 100%;  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% ;
  z-index: 1;
  height: 50px;
  position: fixed;
}
a {
  text-decoration: none;
  color: #caf0f8;
}
.back{
  width: 25%;
}
.navIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 5%;
}
.navIcons a{
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .navBar {
  padding: 0 12% 0 0;
  }

}
  
